<% provide(:title, "MYPAGE") %>

<div class="main">
  <section class="module bg-dark-60 service-page-header" data-background="assets/images/images/services_bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">MYPAGE</h2>
        </div>
      </div>
    </div>
  </section>

  <div class= "container"
    <div class = "card-deck">

      <div class = "card">
        <div class = "card-heder">
          video.name
        </div>
        <div class = "card-body" >
          video.video_id
          <p class = "card-text">video.comment</p>
        </div>
        <div class = "card-footer">
          <%= link_to "video.users.name" %>
        </div>
      </div>

    </div>
</div>
