<% provide(:title, "MYPAGE") %>

<div class="main">
  <section class="module bg-dark-60 service-page-header" data-background="assets/images/images/services_bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt">MYPAGE</h2>
        </div>
      </div>
    </div>
  </section>
  <section class="module" id="services">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h2 class="module-title font-alt"></h2>
          <div class="module-subtitle font-serif"></div>
        </div>
      </div>
      <div class="row multi-columns-row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-lightbulb"></span></div>
            <h3 class="features-title font-alt">Ideas and concepts</h3>
            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-bike"></span></div>
            <h3 class="features-title font-alt">Optimised for speed</h3>
            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="features-item">
            <div class="features-icon"><span class="icon-tools"></span></div>
            <h3 class="features-title font-alt">Designs &amp; interfaces</h3>
            <p>Careful attention to detail and clean, well structured code ensures a smooth user experience for all your visitors.</p>
          </div>
        </div>  
      </div>
    </div>
  </section>
  <section class="module-small bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-8 col-lg-6 col-lg-offset-2">
          <div class="callout-text font-alt">
            <h3 class="callout-title">Want to see more works?</h3>
            <p>We are always open to interesting projects.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <div class="callout-btn-box"><a class="btn btn-w btn-round" href="portfolio_boxed_gutter_col_3.html">Lets view portfolio</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="module">
    <div class="container">
      <div class="row multi-columns-row">
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="price-table font-alt">
            <h4>Light</h4>
            <div class="borderline"></div>
            <p class="price"><span>$</span>9
            </p>
            <ul class="price-details">
              <li>Free Support</li>
              <li>15 Demos Included</li>
              <li><span>Newsletter</span></li>
              <li><span>Working Contact Form</span></li>
              <li><span>Unlimited Domains</span></li>
            </ul><a class="btn btn-d btn-round" href="#">Sign Up</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="price-table font-alt">
            <h4>Basic</h4>
            <div class="borderline"></div>
            <p class="price"><span>$</span>29
            </p>
            <ul class="price-details">
              <li>Free Support</li>
              <li>15 Demos Included</li>
              <li>Newsletter</li>
              <li><span>Working Contact Form</span></li>
              <li><span>Unlimited Domains</span></li>
            </ul><a class="btn btn-d btn-round" href="#">Sign Up</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="price-table font-alt best">
            <h4>Advanced</h4>
            <p class="small">Best Choice</p>
            <div class="borderline"></div>
            <p class="price"><span>$</span>64
            </p>
            <ul class="price-details">
              <li>Free Support</li>
              <li>15 Demos Included</li>
              <li>Newsletter</li>
              <li>Working Contact Form</li>
              <li><span>Unlimited Domains</span></li>
            </ul><a class="btn btn-d btn-round" href="#">Sign Up</a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="price-table font-alt">
            <h4>Ultimate</h4>
            <div class="borderline"></div>
            <p class="price"><span>$</span>119
            </p>
            <ul class="price-details">
              <li>Free Support</li>
              <li>15 Demos Included</li>
              <li>Newsletter</li>
              <li>Working Contact Form</li>
              <li>Unlimited Domains</li>
            </ul><a class="btn btn-d btn-round" href="#">Sign Up</a>
          </div>
        </div>
      </div>
      <div class="row mt-40">
        <div class="col-sm-6 col-sm-offset-3 align-center">
          <p>Everyone realizes why a new common language would be desirable: one could refuse to pay expensive translators. To achieve this, it would be necessary to have uniform grammar, pronunciation and more common words.</p>
        </div>
      </div>
    </div>
  </section>
</div>
