<% provide(:title, 'HOME') %>

<section class="home-section bg-dark-60 portfolio-page-header parallax-bg" id="home">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
      <div class="font-alt mb-40 titan-title-size-4">YEApp</div>
    </div>
  </div>
</section>

<div class="index-content">
  <div class="container">
    <%= @videos.each do |video| %>
    <div class="col-lg-4">
      <div class="card">
        <h4><%= video.name %></h4>
        <iframe id="player" frameborder="0" height="200" src="https://www.youtube.com/embed/#{video.uuid}" type="text/html" width="320"></iframe>
        <p><%= video.comment %></p>
        <%= link_to "#{video.user.name}" %><br />
    </div>

    </div>
    <% end %>
  </div>
</div>
