%hr.divider-d/
%footer.footer.bg-dark
  .container
    .row
      .col-sm-6
        %p.copyright.font-alt © 2018 YEApp, All Rights Reserved
.scroll-up
  %a{:href => "#totop"}
    %i.fa.fa-angle-double-up
